<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="RaaOnlineProject01.Raaonline.ListenerClass"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="RaaOnlineProject01.Raaonline.CreateAccountPage"/>
      <class name="RaaOnlineProject01.Raaonline.HomePage01"/>
      <class name="RaaOnlineProject01.Raaonline.VideoPage"/>
      <class name="RaaOnlineProject01.Raaonline.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
